#**Given is the boston.csv dataset with the following variable information:**
## CRIM - Per Capita crime rate 
## ZN - Proportion of residential land zoned for lots over 25000 sq. ft
## INDUS - Proportion of non-retial business acres 
## CHAS - Charles River dummy variable (1 - if tracts bounds river, 0 -otherwise)
## NOX - Nitrogen Oxide concentration
## RM - Average number of rooms per dwelling
## AGE - Proportion of owner-occupied unit built prior 1940
## DIS - Weighted MEan of distances of five Boston Employement Centres
## RAD - Index of accessibilities to Radial highways
## TAX - Full-value-property-tax rates per $10,000
## PT - Pupil-teacher Ratio
## B - the proportion of blacks 
## LSTAT - Lower Status of the Population (%)
## MV - Median Value of homes (Target Variable)

##Q.1 Read the given CSV file in a Hive table

In [43]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

In [44]:
import pyspark

In [45]:
from pyspark.sql import SparkSession

In [46]:
spark = SparkSession.builder.appName("MLhands-on").enableHiveSupport().getOrCreate()

In [47]:
#Reading the dataset
df=spark.read.csv('/content/boston.csv',header='true', 
                      inferSchema='true')

In [48]:
#checking cache
df.cache()

DataFrame[CRIM: double, ZN: double, INDUS: double, CHAS: int, NOX: double, RM: double, AGE: double, DIS: double, RAD: int, TAX: int, PT: double, B: double, LSTAT: double, MV: double]

In [49]:
#PrintSchema()
df.printSchema()

root
 |-- CRIM: double (nullable = true)
 |-- ZN: double (nullable = true)
 |-- INDUS: double (nullable = true)
 |-- CHAS: integer (nullable = true)
 |-- NOX: double (nullable = true)
 |-- RM: double (nullable = true)
 |-- AGE: double (nullable = true)
 |-- DIS: double (nullable = true)
 |-- RAD: integer (nullable = true)
 |-- TAX: integer (nullable = true)
 |-- PT: double (nullable = true)
 |-- B: double (nullable = true)
 |-- LSTAT: double (nullable = true)
 |-- MV: double (nullable = true)

##Q2. Read the data from Hive table as spark dataframe

In [50]:
#Reading the dataset 
df.show(5)

+-----------+----+-----------+----+-----------+-----------+-----------+-----------+---+---+-----------+-----------+-----------+-----------+
|       CRIM|  ZN|      INDUS|CHAS|        NOX|         RM|        AGE|        DIS|RAD|TAX|         PT|          B|      LSTAT|         MV|
+-----------+----+-----------+----+-----------+-----------+-----------+-----------+---+---+-----------+-----------+-----------+-----------+
|    0.00632|18.0|2.309999943|   0|0.537999988|6.574999809|65.19999695|4.090000153|  1|296|15.30000019|396.8999939|4.980000019|       24.0|
|0.027310001| 0.0|7.070000172|   0|0.469000012|6.421000004|78.90000153|4.967100143|  2|242|17.79999924|396.8999939|9.140000343|21.60000038|
|    0.02729| 0.0|7.070000172|   0|0.469000012|7.184999943|61.09999847|4.967100143|  2|242|17.79999924|392.8299866| 4.03000021|34.70000076|
|0.032370001| 0.0|2.180000067|   0|0.458000004|6.998000145|45.79999924|6.062200069|  3|222|18.70000076|394.6300049|2.940000057|33.40000153|
|0.069049999| 0.0|2.180000067|   0|0.458000004|7.146999836|54.20000076|6.062200069|  3|222|18.70000076|396.8999939|5.329999924|36.20000076|
+-----------+----+-----------+----+-----------+-----------+-----------+-----------+---+---+-----------+-----------+-----------+-----------+
only showing top 5 rows

In [51]:
#Dataset description
df.describe().toPandas()

,summary,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PT,B,LSTAT,MV
0,count,506,506,506,506,506,506,506,506,506,506,506,506,506,506
1,mean,3.6135235608162057,11.363636363636363,11.136778749531626,0.0691699604743083,0.5546950602312246,6.28463438896641,68.57490120115612,3.7950426960059325,9.549407114624506,408.2371541501976,18.45553382776679,356.67402960597883,12.653063233922925,22.53280636250988
2,stddev,8.601545086715594,23.32245299451514,6.86035298095724,0.2539940413404101,0.1158776754570543,0.7026171549511354,28.148861532793276,2.105710142043288,8.707259384239366,168.53711605495903,2.164945780039869,91.29486340272308,7.141061500195388,9.197104107945272
3,min,0.00632,0.0,0.460000008,0,0.38499999,3.561000109,2.900000095,1.129600048,1,187,12.60000038,0.319999993,1.730000019,5.0
4,max,88.97619629,100.0,27.73999977,1,0.870999992,8.779999733,100.0,12.12650013,24,711,22.0,396.8999939,37.97000122,50.0

##Q3. Get the correlation between dependent and independent variables

In [52]:
pandas_df = df.toPandas()

In [53]:
pandas_df.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PT,B,LSTAT,MV
0,0.00632,18.0,2.31,0,0.538,6.575,65.199997,4.0900,1,296,15.300000,396.899994,4.98,24.000000
1,0.02731,0.0,7.07,0,0.469,6.421,78.900002,4.9671,2,242,17.799999,396.899994,9.14,21.600000
2,0.02729,0.0,7.07,0,0.469,7.185,61.099998,4.9671,2,242,17.799999,392.829987,4.03,34.700001
3,0.03237,0.0,2.18,0,0.458,6.998,45.799999,6.0622,3,222,18.700001,394.630005,2.94,33.400002
4,0.06905,0.0,2.18,0,0.458,7.147,54.200001,6.0622,3,222,18.700001,396.899994,5.33,36.200001

The correlation coefficients ranges from -1 to 1

When it is close to 1, it means that there is a strong positive correlation

When correlation coefficient is close to -1, it means that there is a strong negative correlation

When the correlation coefficient is close to zero, it means that there is no linear correlation

In [54]:
#Correlation
pandas_df.corr()['MV']

CRIM    -0.388305
ZN       0.360445
INDUS   -0.483725
CHAS     0.175260
NOX     -0.427321
RM       0.695360
AGE     -0.376955
DIS      0.249929
RAD     -0.381626
TAX     -0.468536
PT      -0.507787
B        0.333461
LSTAT   -0.737663
MV       1.000000
Name: MV, dtype: float64

The house price increases if the number of rooms goes up

The house price tends to go down when the percentage of lower status of the population goes down

The Spark ML algorithms expects the data to be represented in two columns: 
1.Feature
2. Label

In [55]:
feature_columns = df.columns[:-1]

In [56]:
feature_columns

['CRIM',
 'ZN',
 'INDUS',
 'CHAS',
 'NOX',
 'RM',
 'AGE',
 'DIS',
 'RAD',
 'TAX',
 'PT',
 'B',
 'LSTAT']

##Q4. Build a linear regression model to predict house price

In [57]:
from pyspark.ml.feature import VectorAssembler

In [58]:
assembler = VectorAssembler(inputCols= feature_columns, outputCol= "features")

In [59]:
vector = assembler.transform(df)

In [60]:
pands_vector = vector.toPandas()
pands_vector.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PT,B,LSTAT,MV,features
0,0.00632,18.0,2.31,0,0.538,6.575,65.199997,4.0900,1,296,15.300000,396.899994,4.98,24.000000,"[0.00632, 18.0, 2.309999943, 0.0, 0.537999988,..."
1,0.02731,0.0,7.07,0,0.469,6.421,78.900002,4.9671,2,242,17.799999,396.899994,9.14,21.600000,"[0.027310001, 0.0, 7.070000172, 0.0, 0.4690000..."
2,0.02729,0.0,7.07,0,0.469,7.185,61.099998,4.9671,2,242,17.799999,392.829987,4.03,34.700001,"[0.02729, 0.0, 7.070000172, 0.0, 0.469000012, ..."
3,0.03237,0.0,2.18,0,0.458,6.998,45.799999,6.0622,3,222,18.700001,394.630005,2.94,33.400002,"[0.032370001, 0.0, 2.180000067, 0.0, 0.4580000..."
4,0.06905,0.0,2.18,0,0.458,7.147,54.200001,6.0622,3,222,18.700001,396.899994,5.33,36.200001,"[0.069049999, 0.0, 2.180000067, 0.0, 0.4580000..."

In [61]:
vector.show()

+-----------+----+-----------+----+-----------+-----------+-----------+-----------+---+---+-----------+-----------+-----------+-----------+--------------------+
|       CRIM|  ZN|      INDUS|CHAS|        NOX|         RM|        AGE|        DIS|RAD|TAX|         PT|          B|      LSTAT|         MV|            features|
+-----------+----+-----------+----+-----------+-----------+-----------+-----------+---+---+-----------+-----------+-----------+-----------+--------------------+
|    0.00632|18.0|2.309999943|   0|0.537999988|6.574999809|65.19999695|4.090000153|  1|296|15.30000019|396.8999939|4.980000019|       24.0|[0.00632,18.0,2.3...|
|0.027310001| 0.0|7.070000172|   0|0.469000012|6.421000004|78.90000153|4.967100143|  2|242|17.79999924|396.8999939|9.140000343|21.60000038|[0.027310001,0.0,...|
|    0.02729| 0.0|7.070000172|   0|0.469000012|7.184999943|61.09999847|4.967100143|  2|242|17.79999924|392.8299866| 4.03000021|34.70000076|[0.02729,0.0,7.07...|
|0.032370001| 0.0|2.180000067|   0|0.458000004|6.998000145|45.79999924|6.062200069|  3|222|18.70000076|394.6300049|2.940000057|33.40000153|[0.032370001,0.0,...|
|0.069049999| 0.0|2.180000067|   0|0.458000004|7.146999836|54.20000076|6.062200069|  3|222|18.70000076|396.8999939|5.329999924|36.20000076|[0.069049999,0.0,...|
|0.029850001| 0.0|2.180000067|   0|0.458000004|6.429999828|58.70000076|6.062200069|  3|222|18.70000076|394.1199951|5.210000038|28.70000076|[0.029850001,0.0,...|
|0.088289998|12.5|7.869999886|   0|0.523999989|6.012000084|66.59999847|5.560500145|  5|311|15.19999981|395.6000061|12.43000031|22.89999962|[0.088289998,12.5...|
|0.144549996|12.5|7.869999886|   0|0.523999989|6.171999931|96.09999847|5.950500011|  5|311|15.19999981|396.8999939|19.14999962|27.10000038|[0.144549996,12.5...|
|0.211239994|12.5|7.869999886|   0|0.523999989|5.631000042|      100.0|6.082099915|  5|311|15.19999981|386.6300049|29.93000031|       16.5|[0.211239994,12.5...|
|0.170039997|12.5|7.869999886|   0|0.523999989|6.004000187|85.90000153|6.592100143|  5|311|15.19999981|386.7099915|17.10000038|18.89999962|[0.170039997,12.5...|
|0.224889994|12.5|7.869999886|   0|0.523999989|6.376999855|94.30000305|6.346700191|  5|311|15.19999981| 392.519989|20.45000076|       15.0|[0.224889994,12.5...|
|0.117470004|12.5|7.869999886|   0|0.523999989|6.008999825|82.90000153|6.226699829|  5|311|15.19999981|396.8999939|13.27000046|18.89999962|[0.117470004,12.5...|
|0.093780003|12.5|7.869999886|   0|0.523999989|5.888999939|       39.0|5.450900078|  5|311|15.19999981|      390.5|15.71000004|21.70000076|[0.093780003,12.5...|
|0.629760027| 0.0|8.140000343|   0|0.537999988|5.948999882|61.79999924|4.707499981|  4|307|       21.0|396.8999939|8.260000229|20.39999962|[0.629760027,0.0,...|
|0.637960017| 0.0|8.140000343|   0|0.537999988|6.096000195|       84.5|4.461900234|  4|307|       21.0| 380.019989|10.26000023|18.20000076|[0.637960017,0.0,...|
|0.627390027| 0.0|8.140000343|   0|0.537999988|5.834000111|       56.5|4.498600006|  4|307|       21.0|395.6199951|8.470000267|19.89999962|[0.627390027,0.0,...|
|1.053930044| 0.0|8.140000343|   0|0.537999988|5.934999943|29.29999924|4.498600006|  4|307|       21.0|386.8500061|6.579999924|23.10000038|[1.053930044,0.0,...|
|0.784200013| 0.0|8.140000343|   0|0.537999988|5.989999771|81.69999695|4.257900238|  4|307|       21.0|     386.75|14.67000008|       17.5|[0.784200013,0.0,...|
|0.802709997| 0.0|8.140000343|   0|0.537999988|5.455999851|36.59999847|3.796499968|  4|307|       21.0|288.9899902|11.68999958|20.20000076|[0.802709997,0.0,...|
|0.725799978| 0.0|8.140000343|   0|0.537999988|5.727000237|       69.5|3.796499968|  4|307|       21.0|390.9500122|11.27999973|18.20000076|[0.725799978,0.0,...|
+-----------+----+-----------+----+-----------+-----------+-----------+-----------+---+---+-----------+-----------+-----------+-----------+--------------------+
only showing top 20 rows

In [62]:
vector_df = vector.select(['features', 'MV'])
vector_df.show()

+--------------------+-----------+
|            features|         MV|
+--------------------+-----------+
|[0.00632,18.0,2.3...|       24.0|
|[0.027310001,0.0,...|21.60000038|
|[0.02729,0.0,7.07...|34.70000076|
|[0.032370001,0.0,...|33.40000153|
|[0.069049999,0.0,...|36.20000076|
|[0.029850001,0.0,...|28.70000076|
|[0.088289998,12.5...|22.89999962|
|[0.144549996,12.5...|27.10000038|
|[0.211239994,12.5...|       16.5|
|[0.170039997,12.5...|18.89999962|
|[0.224889994,12.5...|       15.0|
|[0.117470004,12.5...|18.89999962|
|[0.093780003,12.5...|21.70000076|
|[0.629760027,0.0,...|20.39999962|
|[0.637960017,0.0,...|18.20000076|
|[0.627390027,0.0,...|19.89999962|
|[1.053930044,0.0,...|23.10000038|
|[0.784200013,0.0,...|       17.5|
|[0.802709997,0.0,...|20.20000076|
|[0.725799978,0.0,...|18.20000076|
+--------------------+-----------+
only showing top 20 rows

In [63]:
splits = vector_df.randomSplit([0.7, 0.3])
train_df = splits[0]
test_df = splits[1]

In [64]:
from pyspark.ml.regression import LinearRegression

In [65]:
lr = LinearRegression(featuresCol= 'features', labelCol= 'MV')
lr_model = lr.fit(train_df)     # we call fit method to start training our model on the train set

In [66]:
lr_model.coefficients

DenseVector([-0.1204, 0.0563, -0.0112, 3.2555, -18.2859, 3.6291, -0.0055, -1.79, 0.2665, -0.0119, -0.8816, 0.0082, -0.5005])

In [67]:
lr_model.intercept

38.809428636546464

In [68]:
lr_predictions = lr_model.transform(test_df) # we use transform method to test the model
lr_predictions.show()

+--------------------+-----------+------------------+
|            features|         MV|        prediction|
+--------------------+-----------+------------------+
|[0.01501,80.0,2.0...|       24.5| 27.25779605220974|
|[0.01709,90.0,2.0...|30.10000038| 23.87634386708443|
|[0.0187,85.0,4.15...|23.10000038|25.048232271594046|
|[0.019509999,17.5...|       33.0|22.132525309981506|
|[0.027629999,75.0...|30.79999924| 32.05424825237329|
|[0.029850001,0.0,...|28.70000076|24.856774836679442|
|[0.034449998,82.5...|24.10000038|29.696075466116554|
|[0.035100002,95.0...|       48.5| 42.41410401219903|
|[0.03537,34.0,6.0...|       22.0| 28.83336108673805|
|[0.037379999,0.0,...|20.70000076|21.123788821197223|
|[0.04417,70.0,2.2...|24.79999924|30.247443614091907|
|[0.04544,0.0,3.24...|19.79999924| 21.47456685233526|
|[0.048190001,80.0...|21.89999962| 23.56600707298212|
|[0.049320001,33.0...|28.20000076|  33.2576607533933|
|[0.04981,21.0,5.6...|23.39999962| 23.73756606440857|
|[0.050590001,0.0,...|23.89999962|24.893298637020457|
|[0.05302,0.0,3.41...|28.70000076|31.069129427908976|
|[0.054249998,0.0,...|24.60000038| 29.27031720619717|
|[0.054790001,33.0...|28.39999962| 31.41373857984329|
|[0.05497,0.0,5.19...|       19.0|21.415914954374976|
+--------------------+-----------+------------------+
only showing top 20 rows

##Q5. Evaluate the Linear Regression model by getting the RMSE and R-squared values

In [69]:
evaluation_summary = lr_model.evaluate(test_df)

#### RMSE

In [70]:
print(evaluation_summary.rootMeanSquaredError)

4.7794944849436884

#### R-squared

In [71]:
print(evaluation_summary.r2)

0.7238250400591506